body {
  margin: 0;
  padding: 0;
  max-height: 100hv;
  max-width: 100vw;
  overflow: hidden;

}


.toolbar_container {
  position: absolute;
  top:0;
  width: 550px;
  left: calc(50% - 175px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #93a0c8;
  height: 60px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.toolbar_button {
  width:40px;
  height:40px;
  border-radius:8px;
  border:none;
  transition: 0.3s;
  background: #c6cad7;
}

.toolbar_button:hover {
  background: #ece6d8;
}

.toolbar_button_active {
  width:40px;
  height:40px;
  border-radius:8px;
  border:none;
  background: #ece6d8;
}

.features_panel {
  position: left;
  top:0;
  width: 350px;
  left: calc(50% - 175px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #6682df;
  height: 60px;
  display:flex;
  justify-content: space-around;
  align-items: left;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}