.room-form-container {
  height: 80vh;
  width: 90%; /* Changed to percentage for responsiveness */
  max-width: 170vh; /* Added max-width to limit size on larger screens */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
  align-items: center;
  background-color: 131324;
  margin: 0 auto; /* Center the container horizontally */
  background-color: rgba(0, 0, 0, 0.2); /* Optional background overlay */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #ece6d8;
    border-radius: 2rem;
    padding: 3rem 5rem;
    width: 100%; /* Make form width responsive */
    max-width: 400px; /* Limit form width */
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    img {
      height: 5rem;
    }
    h1 {
      color: white;
      text-transform: uppercase;
    }
 }

 .bigbutton {
  background-color: #e6d3b1;
  color: black;
  padding: 0.7rem 1.5rem; 
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: #c4ad84;
  }
}